<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Modificar Usuario</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<style>

	</style>
</head>

<body>
	<header>
		<div th:replace="~{V_admin/extracts/header :: header}"></div>
	</header>

	<main>
		<div class="container py-4">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">Modificar Cliente</div>
						<div class="card-body">
							<form th:action="@{/Registrarse}" method="post">
								<input type="hidden" th:name="usuarioId" th:value="${usuarioId}">
								<input type="hidden" th:name="personaId" th:value="${personaId}">

								<div class="mb-3">
									<label for="nombre" class="form-label">Nombre</label>
									<input type="text" th:name="nombre" th:value="${nombre}" class="form-control"
										id="nombre" placeholder="Ingrese su nombre" required>
								</div>
								<div class="mb-3">
									<label for="apellido_paterno" class="form-label">Apellido Paterno</label>
									<input type="text" th:name="apellido_paterno" th:value="${apellido_paterno}"
										class="form-control" id="apellido_paterno"
										placeholder="Ingrese su apellido paterno" required>
								</div>
								<div class="mb-3">
									<label for="apellido_materno" class="form-label">Apellido Materno</label>
									<input type="text" th:name="apellido_materno" th:value="${apellido_materno}"
										class="form-control" id="apellido_materno"
										placeholder="Ingrese su apellido materno" required>
								</div>
								<div class="mb-3">
									<label for="genero" class="form-label">Género</label>
									<select class="form-select" th:name="genero" id="genero" th:value="${genero}">
										<option value="masculino" th:selected="${genero == 'masculino'}">Masculino
										</option>
										<option value="femenino" th:selected="${genero == 'femenino'}">Femenino</option>
										<option value="otro" th:selected="${genero == 'otro'}">Otro</option>
									</select>
								</div>
								<div class="mb-3">
									<label for="tipo_documento" class="form-label">Tipo de Documento</label>
									<select class="form-select" th:name="tipo_documento" id="tipo_documento"
										th:value="${tipo_documento}">
										<option value="dni" th:selected="${tipo_documento == 'dni'}">DNI</option>
										<option value="pasaporte" th:selected="${tipo_documento == 'pasaporte'}">
											Pasaporte</option>
										<option value="carnet_extranjeria"
											th:selected="${tipo_documento == 'carnet_extranjeria'}">Carné de extranjería
										</option>
									</select>
								</div>
								<div class="mb-3">
									<label for="numero_documento" class="form-label">Número de Documento</label>
									<input type="text" th:name="numero_documento" th:value="${numero_documento}"
										class="form-control" id="numero_documento"
										placeholder="Ingrese su número de documento" required>
								</div>
								<div class="mb-3">
									<label for="correo" class="form-label">Correo</label>
									<input type="email" th:name="correo" th:value="${correo}" class="form-control"
										id="correo" placeholder="Ingrese su correo electrónico" required>
								</div>
								<div class="mb-3">
									<label for="departamento" class="form-label">Departamento de Preferencia</label>
									<input list="departamentos" th:name="departamento" th:value="${departamento}"
										id="departamento" class="form-control" placeholder="Escriba para buscar..."
										required>
									<datalist id="departamentos">
										<th:block th:each="dep : ${departamentos}">
											<option th:text="${dep.nombre}" th:value="${dep.nombre}"></option>
										</th:block>
									</datalist>
								</div>
								<div class="mb-3">
									<label for="usuario" class="form-label">Usuario</label>
									<input type="text" th:name="usuario" th:value="${usuario}" class="form-control"
										id="usuario" placeholder="Ingrese su usuario" required>
								</div>
								<div class="mb-3">
									<label for="contrasena" class="form-label">Contraseña</label>
									<input type="password" th:name="contrasena" th:value="${contrasena}"
										class="form-control" id="contrasena" placeholder="Ingrese su contraseña"
										required>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-primary btn-block">Guardar</button>
								</div>
							</form>
						</div>
						<div class="card-footer text-muted text-center"></div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div th:replace="~{V_admin/extracts/footer :: footer}"></div>
	</footer>
	<script>
		document.getElementById("departamento").addEventListener("input", function () {
			var input = this.value.toLowerCase();
			var options = document.querySelectorAll("#departamentos option");
			options.forEach(function (option) {
				var texto = option.text.toLowerCase();
				option.style.display = texto.startsWith(input) ? "block" : "none";
			});
		});
	</script>
</body>

</html>